@keyframes example {
  0% {
    background-color: black;
  }
  25% {
    background-color: rgba(135, 206, 235, 1);
  }
  80% {
    background-color: rgba(135, 206, 235, 1);
  }
  100% {
    background-color: rgba(135, 206, 235, 0.0);
    display: hidden;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  25% {
    opactiy: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.splash {
  width: 100vw;
  height: 100vh;
  animation-name: example;
  animation-duration: 7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
}

h1,
span {
  font-size: 10rem;
  color: white;
  background-color: none;
}

span {
  animation-name: text;
  animation-delay: 1.5s;
  animation-duration: 6s;
  animation-fill-mode: both;
}

h1 {
  animation-name: text;
  animation-duration: 6s;
  animation-delay: .5s;
  animation-fill-mode: both;
}
