<div class="container mt-6 box">
  <div class="tile is-ancestor">
      <div class="tile ">
        <div class="tile is-parent is-vertical is-6">
          <article class="tile is-child">
            <img class="image" src="../../assets/imgs/boxed-water-is-better-by64zfQx1Do-unsplash.jpg">
          </article>
          <article class="tile is-child">
            <img class="image" src="../../assets/imgs/francesco-ungaro-hqAGgNsMpEY-unsplash.jpg">
          </article>
          <article class="tile is-child">
            <img class="image" src="../../assets/imgs/silas-baisch-K785Da4A_JA-unsplash.jpg">
        </article>
        </div>
        <div class="tile is-parent is-vertical is-6">
          <article class="tile is-child">
              <img class="image" src="../../assets/imgs/ant-rozetsky-q-DJ9XhKkhA-unsplash.jpg">
          </article>
          <article class="tile is-child">
              <img class="image" src="../../assets/imgs/ishan-seefromthesky-eWSh-bkaKU8-unsplash.jpg">
          </article>
          <article class="tile is-child">
              <img class="image" src="../../assets/imgs/ivan-bandura-5cwigXmGWTo-unsplash.jpg">
          </article>
        </div>
      </div>
    </div>
</div>